@import "../../styles/main_variables";

.cover_image {
  width: 100%;
  height: 320px;
  background: #eaeaea url('https://trial-arthop.s3.amazonaws.com/public/layout_images/144/desktop_Goshen_Art_Gallery_cover_9be39edc.jpg') no-repeat center;
  background-size: cover;
}
